<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function openInformation(id) {
            var i, tabcontent;
            tabcontent = document.getElementsByClassName("tabcontent");
            console.log('tabcontent length : ' + tabcontent.length);
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            document.getElementById(id).style.display = "block"
        }


    </script>

    <style>
        html,
        body {
            height: 100%;
            font-family: "Lato", sans-serif;
        }

        .tabcontent {
            color: black;
            display: none;
            height: 100%;
            text-align: center;
        }
    </style>

    <script>
        function button_click(action) {
            var form = document.getElementById('admin-form-id');
            if (action == 'save') {
                //alert('save button clicked ');
                form.action = '/saveassets';
                form.method = 'post';
            }

            if (action == 'map') {
                form.action = '/map';
            }
            form.submit();
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" onclick="openInformation('myBalance')" id="defaultOpen">My Balance</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" onclick="openInformation('assetList')">Real State List</button>
            </div>
        </div>

        <div id="myBalance" class="tabcontent">
            <h3>Admin Screen</h3>
            <form class="form-horizontal" action="#" method="get" id="admin-form-id">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="latitude">Latitude</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="latitude" name="lat">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="longitude">Longitude</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="longitude" name="lng">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="token">Token</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="token" name="token">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                </div>

                <input type="button" value="저장" onclick="button_click('save')" />
                <input type="button" value="지도보기" onclick="button_click('map')" />
            </form>
        </div>
        <div id="assetList" class="tabcontent">
            <h3>Real estate list</h3>
            <div>
                <ul>
                    <% for(var i = 0; i < assetList.length; i++) { 
                    var name = assetList[i].name;
                    var address = assetList[i].address; 
                    var lat = assetList[i].latitude;
                    var lng = assetList[i].longitude;
                    %>
                        <li>
                            #
                            <%=i %> - 건물이름 :
                                <%=name %>, 주소 :
                                    <%=address %>
                                        <form id="form-id" method="get" action="/map">
                                            <input type="hidden" name="name" value="<%=name %>">
                                            <input type="hidden" name="address" value="<%=address %>">
                                            <input type="hidden" name="lat" value="<%=lat %>">
                                            <input type="hidden" name="lng" value="<%=lng %>">

                                            <button onclick="document.getElementById('form-id').submit();">지도</button>
                                        </form>
                        </li>
                        <% } %>
                </ul>
            </div>

        </div>
    </div>
    <script>
        document.getElementById("defaultOpen").click();
    </script>
</body>

</html>