<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="theme/css/ionicons.min.css">
    <link rel="stylesheet" href="theme/css/admin.min.css">
    <link rel="stylesheet" href="theme/css/skins/_all-skins.min.css">

    <script>
        function save() {
            var name = document.getElementById('name').value;
            var token = document.getElementById('token').value;
            var lat = document.getElementById('latitude').value;
            var lng = document.getElementById('longitude').value;
            var address = document.getElementById('address').value;
            var price = document.getElementById('price').value;

            var data = { name: name, token: token, lat: lat, lng: lng, address: address, price: price };
            var xhr;
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
            var param = Object.keys(data).map(function (k) {
                return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
            }).join('&');
            console.log('param : ' + param);
            xhr.open('POST', '/saveassets', true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var obj = JSON.parse(xhr.responseText);
                    if (obj.result == true) {
                        if (confirm('저장하였습니다.')) {
                            window.location.reload();
                        }
                    } else {
                        alert('저장 실패 : ' + obj.msg);
                    }
                }
            }
            xhr.send(param);
        }

        function moveToMap() {
            var form = document.getElementById('admin-form-id');
            form.action = '/map1';
            form.submit();
        }

        function logout() {
            var form = document.createElement("form");
            form.setAttribute("method", "GET");
            form.setAttribute("action", "/logout");
            document.body.appendChild(form);
            form.submit();
        }

        function selectasset(id) {
            console.log('asset list id -> ' + id);
            var form = document.createElement("form");
            form.setAttribute("method", 'GET');
            form.setAttribute("action", "/map");
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "id");
            hiddenField.setAttribute("value", id);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>

<body class="hold-transition skin-blue sidebar-mini bg-gray">
    <script>
        var defaultPage = <%=defaultPage %>;
        if (!defaultPage) {
            defaultPage = 1;
        }
        $(document).ready(function () {
            console.log('default -> ' + defaultPage);
            if (defaultPage == 1) {
                $('.nav-tabs a[href="#admin"]').tab('show')
            } else if (defaultPage == 2) {
                $('.nav-tabs a[href="#assets"]').tab('show')
            }
        });
    </script>
    <div class="container">
        <br>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#admin" class="nav-link active" data-toggle="tab">Administrator</a>
                </li>
                <li>
                    <a href="#assets" data-toggle="tab">Real Estate List</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="admin" class="container tab-pane active">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <h3 class="box-title">Asset Info</h3>
                    </div>
                    <div class="col-sm-5">
                        <button type="button" class="btn btn-light pull-right" style="color:gray;" onclick="logout()">logout</button>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-sm-11">
                        <%  var lat;
                            var lng;
                        if(coordinate) {
                            lat = coordinate.lat
                            lng = coordinate.lng
                        } %>
                            <form class="form-horizontal" action="#" method="get" id="admin-form-id">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="latitude">Latitude</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="latitude" name="lat" value="<%=lat %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="longitude">Longitude</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="longitude" name="lng" value="<%=lng %>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="token">Token</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="token" name="token">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" name="name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">Address</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="address" name="address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="name">Price</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="price" name="price">
                                    </div>
                                </div>
                                <br>
                                <button type="button" class="btn btn-primary pull-right col-xs-2" onclick="save()">저장</button>
                                <button type="button" class="btn btn-info pull-right btn-sm" style="margin-right:20px;" onclick="moveToMap()">
                                    <i class="fa fa-map-marker"></i>
                                </button>


                            </form>
                    </div>

                </div>

                <div id="assets" class="tab-pane fade">
                    <h3 class="box-title" style="margin-left:10px;">Realcoin Foundation Assets</h3>
                    <br>
                    <br>
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Token</th>
                                    <th>price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < assetList.length; i++) {
                                        var id = assetList[i].id;
                                        var name = assetList[i].name;
                                        var address = assetList[i].address;
                                        var token = assetList[i].token;
                                        var price = assetList[i].price;
                                        var lat = assetList[i].latitude;
                                        var lng = assetList[i].longitude;
                                         %>
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm" onclick="selectasset('<%=id %>')">
                                                <i class="fa fa-map-marker"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <%=name %>
                                        </td>
                                        <td>
                                            <%=address %>
                                        </td>
                                        <td>
                                            <%=token %>
                                        </td>
                                        <td>
                                            <%=price %>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>

</html>
