<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        html,
        body {
            height: 100%;
            font-family: "Lato", sans-serif;
        }
    </style>

    <script>
        function save() {
            var name = document.getElementById('name').value;
            var token = document.getElementById('token').value;
            var lat = document.getElementById('latitude').value;
            var lng = document.getElementById('longitude').value;

            var data = { name: name, token: token, lat: lat, lng: lng };
            var xhr;
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                xhr = new ActiveXObject("Microsoft.XMLHTTP");
            }
            var param = Object.keys(data).map(function (k) {
                return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
            }).join('&');
            console.log('param : ' + param);
            xhr.open('POST', '/saveassets', true);
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var obj = JSON.parse(xhr.responseText);
                    if (obj.result == true) {
                        if(confirm('저장하였습니다.')) {
                            window.location.reload();
                        }
                    } else {
                        alert('저장 실패 : ' + obj.msg);
                    }
                }
            }
            xhr.send(param);
        }

        function moveToMap() {
            var form = document.getElementById('admin-form-id');
            form.action = '/map';
            form.submit();
        }

        function selectasset(params) {
            console.log('asset list index -> ' + params);
            var obj = JSON.parse(params);

            var form = document.createElement("form");
            form.setAttribute("method", 'GET');
            form.setAttribute("action", "/map");
            for (var key in obj) {
                if (obj.hasOwnProperty(key)) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", obj[key]);
                    form.appendChild(hiddenField);
                }
            }
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>

<body>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#admin">Administrator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#assets">Real Estate List</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="admin" class="container tab-pane active">
            <form class="form-horizontal" action="#" method="get" id="admin-form-id">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="latitude">Latitude</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="latitude" name="lat">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="longitude">Longitude</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="longitude" name="lng">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="token">Token</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="token" name="token">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="name">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                </div>

                <input type="button" value="저장" onclick="save()" />
                <input type="button" value="지도보기" onclick="moveToMap()" />
            </form>
        </div>
        <div id="assets" class="container tab-pane fade">
            <h3>Real estate list</h3>
            <div class="list-group">
                <% for(var i = 0; i < assetList.length; i++) {
                    var name = assetList[i].name;
                    var address = assetList[i].address;
                    var lat = assetList[i].latitude;
                    var lng = assetList[i].longitude;
                    var params = JSON.stringify({name:name, address:address, lat:lat, lng:lng});
                     %>
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <button type="button" class="btn btn-info" onclick="selectasset('<%=params %>')">지도</button>
                            name - <%=name %>, address - <%=address %>
                        </h4>
                        <p class="list-group-item-text">
                            lat - <%=lat %>, lng - <%=lng %>
                        </p>
                    </a>
                    <% } %>
            </div>
        </div>
    </div>

</body>

</html>