<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="theme/css/ionicons.min.css">
    <link rel="stylesheet" href="theme/css/admin.min.css">
    <link rel="stylesheet" href="theme/css/skins/_all-skins.min.css">

    <script>
        function getEtherBalance() {
            console.log('getEtherBalance call');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'https://api.etherscan.io/api?module=account&action=balance&address=0xddbd2b932c763ba5b1b7ae3b362eac3e8d40121a&tag=latest&apikey=YourApiKeyToken');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('ehter balance : ' + xhr.responseText);
                    document.querySelector('#etherbalance').innerHTML = xhr.responseText;
                }
            }
            xhr.send();
        }

        function getTransferEvent() {
            console.log('getTransferEvent call');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'http://api.etherscan.io/api?module=account&action=tokentx&address=0x4e83362442b8d1bec281594cea3050c8eb01311c&startblock=0&endblock=999999999&sort=asc&apikey=YourApiKeyToken');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('ehter balance : ' + xhr.responseText);
                    document.querySelector('#transferevent').innerHTML = xhr.responseText;
                }
            }
            xhr.send();
        }

        function logout() {
            var form = document.createElement("form");
            form.setAttribute("method", "GET");
            form.setAttribute("action", "/logout");
            document.body.appendChild(form);
            form.submit();
        }

        function selectasset(id) {
            console.log('asset list id -> ' + id);
            var form = document.createElement("form");
            form.setAttribute("method", 'GET');
            form.setAttribute("action", "/map");
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "id");
            hiddenField.setAttribute("value", id);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>

<body class="bg-gray">
    <br>
    <div class="container">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h2 class="box-title">Realcoin Foundation Assets</h2>
            </div>
            <div class="box-body no-padding">
                <table class="table no-margin">
                    <thead>
                        <tr>
                            <th>Map</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Token</th>
                            <th>price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < assetList.length; i++) {
                                        var id = assetList[i].id;
                                        var name = assetList[i].name;
                                        var address = assetList[i].address;
                                        var token = assetList[i].token;
                                        var price = assetList[i].price;
                                        var lat = assetList[i].latitude;
                                        var lng = assetList[i].longitude;
                                         %>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-light btn-sm" onclick="selectasset('<%=id %>')">
                                        <i class="fa fa-map-marker"></i>
                                    </button>
                                </td>
                                <td>
                                    <%=name %>
                                </td>
                                <td>
                                    <%=address %>
                                </td>
                                <td>
                                    <%=token %>
                                </td>
                                <td>
                                    <%=price %>
                                </td>

                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>