<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        html,
        body {
            height: 100%;
            font-family: "Lato", sans-serif;
        }
    </style>

    <script>
        function getEtherBalance() {
            console.log('getEtherBalance call');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'https://api.etherscan.io/api?module=account&action=balance&address=0xddbd2b932c763ba5b1b7ae3b362eac3e8d40121a&tag=latest&apikey=YourApiKeyToken');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('ehter balance : ' + xhr.responseText);
                    document.querySelector('#etherbalance').innerHTML = xhr.responseText;
                }
            }
            xhr.send();
        }

        function getTransferEvent() {
            console.log('getTransferEvent call');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'http://api.etherscan.io/api?module=account&action=tokentx&address=0x4e83362442b8d1bec281594cea3050c8eb01311c&startblock=0&endblock=999999999&sort=asc&apikey=YourApiKeyToken');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('ehter balance : ' + xhr.responseText);
                    document.querySelector('#transferevent').innerHTML = xhr.responseText;
                }
            }
            xhr.send();
        }
    </script>
</head>

<body>
    <div class="container mt-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#balance">My Balance</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#assets">Real Estate List</a>
            </li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="balance" class="container tab-pane active">
            <br>
            <h3>Balance page</h3>
            <div>
                <p id='etherbalance'></p>
            </div>
            <br>
            <br>
            <div>
                <p id='transferevent'></p>
            </div>
            <script>
                getEtherBalance();
                getTransferEvent();
            </script>
        </div>
        <div id="assets" class="container tab-pane fade">
            <br>
            <h3>Real estate list</h3>
            <div>
                <ul>
                    <% for(var i = 0; i < assetList.length; i++) { 
                    var name = assetList[i].name;
                    var address = assetList[i].address; 
                    var lat = assetList[i].latitude;
                    var lng = assetList[i].longitude;
                    %>
                        <li>
                            #
                            <%=i %> - 건물이름 :
                                <%=name %>, 주소 :
                                    <%=address %>
                                        <form id="form-id" method="get" action="/map">
                                            <input type="hidden" name="name" value="<%=name %>">
                                            <input type="hidden" name="address" value="<%=address %>">
                                            <input type="hidden" name="lat" value="<%=lat %>">
                                            <input type="hidden" name="lng" value="<%=lng %>">

                                            <button onclick="document.getElementById('form-id').submit();">지도</button>
                                        </form>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>
</body>

</html>