<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="theme/css/ionicons.min.css">
    <link rel="stylesheet" href="theme/css/admin.min.css">
    <link rel="stylesheet" href="theme/css/skins/_all-skins.min.css">

    <script>
        function getEtherBalance() {
            console.log('getEtherBalance call');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'https://api.etherscan.io/api?module=account&action=balance&address=0xddbd2b932c763ba5b1b7ae3b362eac3e8d40121a&tag=latest&apikey=YourApiKeyToken');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('ehter balance : ' + xhr.responseText);
                    document.querySelector('#etherbalance').innerHTML = xhr.responseText;
                }
            }
            xhr.send();
        }

        function getTransferEvent() {
            console.log('getTransferEvent call');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'http://api.etherscan.io/api?module=account&action=tokentx&address=0x4e83362442b8d1bec281594cea3050c8eb01311c&startblock=0&endblock=999999999&sort=asc&apikey=YourApiKeyToken');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log('ehter balance : ' + xhr.responseText);
                    document.querySelector('#transferevent').innerHTML = xhr.responseText;
                }
            }
            xhr.send();
        }



        function logout() {
            var form = document.createElement("form");
            form.setAttribute("method", "GET");
            form.setAttribute("action", "/logout");
            document.body.appendChild(form);
            form.submit();
        }

        function selectasset(id) {
            console.log('asset list id -> ' + id);
            var form = document.createElement("form");
            form.setAttribute("method", 'GET');
            form.setAttribute("action", "/map");
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "id");
            hiddenField.setAttribute("value", id);
            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</head>

<body class="hold-transition skin-blue sidebar-mini bg-gray">
    <script>
        var defaultPage = <%=defaultPage %>;
        if (!defaultPage) {
            defaultPage = 1;
        }
        $(document).ready(function () {

            console.log('default -> ' + defaultPage);
            if (defaultPage == 1) {
                $('.nav-tabs a[href="#admin"]').tab('show')
            } else if (defaultPage == 2) {
                $('.nav-tabs a[href="#assets"]').tab('show')
            }
        });
    </script>
    <div class="container">
        <br>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#balance" class="nav-link active" data-toggle="tab">My Balance</a>
                </li>
                <li>
                    <a href="#assets" data-toggle="tab">Real Estate List</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="balance" class="container tab-pane active">
                    <br>
                    <h3>Balance page</h3>
                    <div >
                        <p class="col-sm-8" id='etherbalance'></p>
                    </div>
                    <br>
                    <br>
                    <div class="col-sm-8">
                        <p id='transferevent'></p>
                    </div>
                    <script>
                        getEtherBalance();
                        getTransferEvent();
                    </script>
                </div>

                <div id="assets" class="tab-pane fade">

                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Token</th>
                                    <th>price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var i = 0; i < assetList.length; i++) {
                                        var id = assetList[i].id;
                                        var name = assetList[i].name;
                                        var address = assetList[i].address;
                                        var token = assetList[i].token;
                                        var price = assetList[i].price;
                                        var lat = assetList[i].latitude;
                                        var lng = assetList[i].longitude;
                                         %>
                                    <tr>
                                        <td>
                                            <%=name %>
                                        </td>
                                        <td>
                                            <%=address %>
                                        </td>
                                        <td>
                                            <%=token %>
                                        </td>
                                        <td>
                                            <%=price %>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm" onclick="selectasset('<%=id %>')">
                                                <i class="fa fa-map-marker"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>

</html>